
<h2>{{title2}}</h2>
<hr>
<form action="/contact" method="POST">
    <br><input type"text" name="lastname" placeholder="Nom?">
    <br><input type"text" name="firstname" placeholder="Prénom?">
    <br><input type"email" name="email" placeholder="Courriel?">
    <br><input type"tel" name"tel" placeholder="Téléphone?">
    <br><select name="subject" id="genre">
        <option value="Inscription">Inscription</option>
        <option value="Demande de formation">Demande de formation</option>
    </select>
    <br><textarea name="message" cols="30" rows="10" placeholder="Écrire un court message..."></textarea>
    <br><input type="submit" value="Soumettre">
</form>

<hr>
{{#each formation}}
<h2>Nom: {{this.firstname}} {{this.lastname}}</h2>
<p>Courriel: {{this.email}}</p>
<p>Téléphone: {{this.tel}}</p>
<p>Sujet: {{this.subject}}</p>
<p>Message: {{this.message}}</p>
{{/each}}