<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <nav class="sidenav">
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/formations/formations">Nos formations</a></li>
          <ul>
            <li><a href="/formations/mongodb">Formations MongoDB</a></li>
            <li><a href="/formations/nodejs">Formations Nodejs</a></li>
          </ul>
        <li><a href="/blog/blog">Le blog</a></li>
        <li><a href="/contact">Nous contacter</a></li>
      </ul>
    </nav>
  </header>
  <body class="main">
    <h1>{{title}}</h1>
    <hr>
    {{{body}}}
  </body>
</html>
