body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  text-transform: uppercase;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

ul {
  margin:0 1rem 0 1rem;
  padding-left: 0;
}

.sidenav{
  height: 100%;
  width: 225px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  margin-left: 225px;
  background-color: rgb(112, 112, 112);